.div_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.div_main>button {
    display: block;
    color: white;
    background-color: #2196F3;
    border: none;
    border-radius: 8px;
    margin: 10px;
    padding: 8px 20px 8px 20px;
    text-align: center;
    cursor: pointer;
}

.div_main>button:hover {
    background-color: #2195f3e9;
}